<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Bitter:400,700" type="text/css">
{% comment %}
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
{% endcomment %}
<style type="text/css">
  body {
    font-family: "Bitter","Helvetica Neue",helvetica,arial,verdana,sans-serif;
    font-size: 2em;
    line-height: 2.1em; 
    background-color:white;
    margin: 0;
  }
  h1 {
    color:#1B396B;
  }       
  .lightblue {
    background-color:#3EABE6;
  }
  .darkblue {
    background-color:#1B396B;
  }
  .orange {
    background-color:#E56035;
  }
  .thin {
    height: 5px;
  }
  .p1 {
    padding-top: 1em;
  }
  .m1 {
    margin-top: 1em;
  }
  .lh2 {
    line-height: 1.6em;
  }
  .ctr {
    text-align: center;
  }
  .all {
    padding: 0;
    margin: 0;
  }
  #hpul {
    list-style:none;
    margin-left: 0;
    padding-left: 0;
  }
  .hpli {
    background-image: url('/img/block.png');
    background-repeat: no-repeat;
    background-position: 0 0.3em;
    margin-top: 3em;
    padding-left: 30px;
  }
  .b {
    font-weight:bold;
  }
  .i {
    font-style:italic;
  }
  #points {
    font-size: 0.8em;
  }
  </style>
