    <div class="row p1">
      <div class="col-md-12 lightblue thin all">&nbsp;</div>
    </div>
    <div class="row p1">
      <div class="col-md-12">
        <a href="https://twitter.com/freyfogle" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @freyfogle</a>
      </div>
    </div>
    <div class="row p1" style="padding-bottom:2em;">
      <div class="col-md-12">
        Me on the web:
        <a href="http://www.linkedin.com/in/edfreyfogle">LinkedIn</a>
        -
        <a href="http://www.openstreetmap.org/user/freyfogle">OpenStreetMap</a>
        - 
        <a href="https://github.com/freyfogle">GitHub</a>
        -
        <a href="https://angel.co/freyfogle">AngelList</a>
        -
        <a href="https://www.duolingo.com/edfreyfogle">Duolingo</a>
        -
        <a href="https://www.kiva.org/lender/edf">Kiva</a>
      </div>
    </div>
  </div>
