{% comment %}
  {% for my_page in site.pages %}
    {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
    {% endif %}
  {% endfor %}
{% endcomment %}
    <div class="row" style="padding-top:2em;">
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <h1>Ed Freyfogle</h1>
      </div>
      <div class="col-md-3 ctr">
        <a href="/"><img src="/img/Fsmall.png" alt="F" /></a>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row p1">
      <div class="col-md-12 lightblue thin all">&nbsp;</div>
    </div>

