<div>
  Currently an investor in:
  <div class="pt-1">
    <ul>
      <li>
        <a href="https://5mins.ai" target="_blank">5Mins</a>
      </li>
      <li>
        <a href="https://abiglobalhealth.com" target="_blank">Abi Global Health</a>
      </li>
      <li>
        <a href="https://calmfund.com" target="_blank">Calm Company Fund</a>
      </li>
      <li>
        <a href="https://cashwave.com/en" target="_blank">Cashwave</a>
      </li>
      <li>
        <a href="https://castos.com/" target="_blank">Castos</a>
      </li>
      <li>
        <a href="https://getelm.co" target="_blank">Elm</a>
      </li>
      <li>
        <a href="https://www.flockcover.com" target="_blank">Flock</a>
      </li>
      <li>
        <a href="https://www.getagent.co.uk" target="_blank">GetAgent</a>* 
      </li>
      <li>
        <a href="https://www.theinfluenceroom.com" target="_blank">The Influence Room</a>
      </li>    
      <li>
        <a href="https://www.last.app" target="_blank">LastPOS</a>
      </li>    
      <li>
        <a href="https://localistico.com" target="_blank">Localistico</a>
      </li>    
      <li>
        <a href="https://www.mintago.com" target="_blank">Mintago</a>
      </li>    
      <li>
        <a href="https://www.pauatech.com" target="_blank">Paua</a>
      </li>    
      <li>
        <a href="https://senvo.de" target="_blank">Senvo</a>
      </li>    
      <li>
        <a href="https://www.teragence.com" target="_blank">Teragence</a>
      </li>    
      <li>
        <a href="https://tinyseed.com" target="_blank">TinySeed</a>
      </li>    
    </ul>
    * board member
  </div>
  <div class="pt-2">
    Past successful exits
    <ul>
      <li>
        <a href="https://hubtype.com" target="_blank">Hubtype</a>
      </li>
      <li>
        <a href="https://www.overleaf.com" target="_blank">Overleaf</a>
      </li>
      <li>
        <a href="https://www.perkbox.co.uk" target="_blank">Perkbox</a>
      </li>
      <li>    
        <a href="https://www.storagemadeeasy.com" target="_blank">Storage Made Easy</a>
      </li>
    </ul>
  </div>
  <div class="pt-2">
    Regrets? I've had a few. But then again, too few to mention ...
  </div>    
</div>
